{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        th, td {
            vertical-align: middle !important; 
            text-align: center !important;
        }
        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #dashboard-top-spacer {
            height: 25px;
        }

        #referrals .leaderboard_points {
            margin-top: 5px;
        }

        .well { height: 380px; overflow: hidden; }

        .dashboard-tip-spot {
            position: absolute;
            z-index: 50;
            bottom: 30px;
            right: 20px;
            height: 26px;
            width: 26px;
            margin-top: 0px;
            padding-top: 3px;
            border-radius: 13px;
            text-align: center;
            background-color: #E6E7E8;
            color: #A7A9AB;
        }

        @media (max-width: 768px) {
          .dashboard-tip-spot { bottom: 10px; }
        }

        .dashboard-tip-spot-content {
            display: none;
        }

        .warning-button {
            display: block;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #47bccc;
            border-radius: 5px;
            background-color: #47c1d2;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }
        .carbon {
            width: 2em;
            height: 2em;
            display: inline-block;
        }

    </style>

{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="dashboard-top-spacer">&nbsp;</div>

        <h3 style="text-align: center"> 5 Recent Users </h4>
        <div class="row">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Display Name</th>
                    <th>Tier</th>
                    <th>Point Balance</th>
                    <th>Phone Numbers</th>
                </tr>
                
                {% for user in users %}
                <tr>
                    <td>
                        {% if user.loc %}
                            <a data-toggle="modal" data-target="#locModal" data-loc="{{user.loc}}" data-name="{{user.name}}">{{user.name}}</a>
                        {% else %}
                            {{user.name}}
                        {% endif %}
                    </td>
                    <td>
                        <span>{{user.tier}}</span>
                        <span class="tier-ball {{ user.tier.lower() }}"></span>
                    </td>
                    <td>{{user.points}}</td>
                    <td>
                    {%  for phone in user.phone %}
                        <p>{{phone}}</p>
                        
                    {%  endfor %}
                    </td>
                </tr>
                {%  endfor %}
                
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="locModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="locModalLabel">title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        $('#locModal').on('show.bs.modal', function(e) {
            const name = $(e.relatedTarget).data('name');
            const loc = $(e.relatedTarget).data('loc');
            console.log(name + "  " + loc)
            $("#locModalLabel").html(`${name}'s Location`);
            $(".modal-body").html( 
            `<p>${loc}</p>`);
        });
    </script>
{% endblock %}